*{
  box-sizing: border-box;
}

body{
  background: cornsilk;
  margin: 0;
  padding: 0;
}

header{
  padding: 20px;
}

.header-container{
  width: 100%;
  max-width: 95%;
  margin: 10px;
  display: flex;
  justify-content:space-between;
} 

.header-container a{
  text-decoration: none;
}

#logo{
  font-family: 'Playfair Display', serif;
  margin: 0;
}

.red-color{
  color: red;
  font-family: 'IBM Plex Serif', serif;
  text-transform: lowercase;
}

nav ul{
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li{
  margin: 0 20px;
}

nav a{
  text-decoration: none;
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 10px;
  margin: 0 20px;
}

li a:hover {
  background-color: #ffffff;
}

.search{
  margin: 0 30px;
}

input[type=search] {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('twotone_search_black_24dp.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.about-container{
  background-image: url("https://media.istockphoto.com/photos/happy-young-asian-woman-in-colorful-yellow-color-casual-clothes-and-picture-id1295727275?b=1&k=20&m=1295727275&s=170667a&w=0&h=04c-SBeakm82aVnuIfchJDVPALZwu55qZH5kE60692g=");
  height: 450px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

.about-content{
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  color: #ffffff;
  width: 100%;
  height: 250px;
  padding: 20px;
  text-align: center;
  }
  
.about-text{
  font-size: 90px;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}
  
.about-description{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin-top: 50px;
  padding: 10px 20px;
}
  
footer{
  background-color: #91ADC2;
  border-top: 1px solid black;
  margin: 50px 0;
  display: grid;
  grid-template-columns:7vw 1fr 7vw;
  grid-template-rows: auto;
}
  
.footerbox-container{
  grid-column:2 / 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  padding-top: 20px;
}
  
.box-1,.box-2,.box-3,.box-4,.box-5{
  padding-bottom: 60px;
  justify-content: center;
}

.box-1 span{
margin-top: 10px;
}

.box-1 a{
  text-decoration: none;
}
 
.footer-heading{
  text-align: center;
}

.footer-links a{
  color: black;
  text-transform: capitalize;
  padding: 10px;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Anek Gujarati', sans-serif;
  font-size: 15px;
}
  
.footer-links li{
  list-style-type: none;
  margin: 10px;
  padding-right: 20px;
}

.footer-links a:hover{
  background-color: #ffffff;
}

#footer-logo{
  font-family: 'Playfair Display', serif;
  margin: 0;
}

.footer-red{
  color: red;
  font-family: 'IBM Plex Serif', serif;
  text-transform: lowercase;
}
  

  /* For Mobile Devices*/

@media only screen and (max-device-width:480px){
  
  header{
    height:100px;
    padding: 0;
    margin-bottom: 10px;;
  }

  .header-container{
    margin: 10px 20px;
    text-align: center;
    flex-wrap: wrap;
    max-width: 90%;
    } 
  
    #logo{
      font-size: 15px;
      padding-top: 12px;
      display: block;
      top: 0;
      left: 0;
    }
  
  .search{
    margin-bottom: 20px;
  }

  nav li{
      margin: 0px;
  }
  
  nav a{
    margin: 0;
    font-size: 15px;
  }
  
  .search input[type=search] {
    width: 100%;
  }

  .about-description{
    margin: 0 40px;
  }

  .footerbox-container{
    grid-template-columns: 1fr;
    justify-content: center;
  }
   
  .box-1,.box-2,.box-3,.box-4,.box-5{
  text-align: center;
  }

  #footer-logo{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  }

  .red-color{
  font-family: 'IBM Plex Serif', serif;
  font-size: 15px;
  }
  
  .box-1 span{
  margin-top: 15px;
  font-size: 15px;
  }

  .footer-links{
  font-size: 25px;
  }

}

  /*For Ipads*/

@media only screen and (min-device-width:760px) and (max-device-width:1024px){

  #logo{
    font-size: 20px;
    padding-top: 12px;
    display: block;
      top: 0;
      left: 0;
      margin-right: 10px;
  }

  nav ul{
    margin-left: 10px;
  }

  nav li{
    margin: 0;
  }
  
  nav a{
    font-size: 20px;
    margin: 0;
  }
  
  .search input[type=search] {
    width: 90%;
    margin-top: 5px;
  }


  .about-description{
  margin: 0 30px;
  }

  .footerbox-container{
  grid-template-columns:repeat(2,1fr);
  justify-content: center;
  }
 
  .box-1,.box-2,.box-3,.box-4,.box-5{
  text-align: center;
  }

  #footer-logo{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  margin-top: 15px;
  }

  .red-color{
  font-family: 'IBM Plex Serif', serif;
  font-size: 15px;
}

.box-1 span{
margin-top: 25px;
font-size: 15px;
}

.footer-links{
font-size: 25px;
}

}
